@import "constans.scss";
@import "mixin.scss";
@import "block";
@import "message";
//ui
@import "ui/form";
@import "ui/btn";
@import "ui/scroll";

//base
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: $fontRoboto;
  font-size: $base-font-size;
  color: black;
  height: 100%;
  //@include tablet {
  //  font-size: 12px;
  //}
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &:focus {
   outline: none;
  }
}
select {
  &:focus {
    outline: none;
  }
}
//body, #app {
//  height: 100%;
//}
.container {
   padding: 0 15px
 }

.custom-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 350px;
  height: 120vh;
}